<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56331687585-o1vn25s25vv682tgqc34uq03hucklc89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56331687585-o1vn25s25vv682tgqc34uq03hucklc89</string>
	<key>API_KEY</key>
	<string>AIzaSyC825o9DAGTb4QCtVrfzY8ttnnLpQGYX34</string>
	<key>GCM_SENDER_ID</key>
	<string>56331687585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.cardozo.gastos</string>
	<key>PROJECT_ID</key>
	<string>qcris-gastos-diarios</string>
	<key>STORAGE_BUCKET</key>
	<string>qcris-gastos-diarios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56331687585:ios:f494c462827cf8488682e0</string>
</dict>
</plist>